<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2010 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">RemoteX Technologies, Stockholm</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
My role as a full-stack senior developer meant taking an idea or business requirement and delivering it as value to customers. Responsibilities included gathering requirements, designing user interfaces and experience (UX), evaluating architectures and tools, design and development of backend services (storage, messaging, integration), ensuring the use of automated build- and QA tools, release engineering. Furthermore I did sprint planning and coached junior peers across the company on a daily basis.
</p>
<ul>
<li> .Net (CF, FX, Core, Windows/OSX)
<li> CI build pipeline with Jenkins and various QA tools/checks (GitHub PR builds, .net/javascript, nunit, WebDriver, Cobertura, OpenCover, Azure storage artifactory, MyGet)
<li> Inhouse Nancy+Jersey-like library for building async REST-services with .net (in production 2009–)
<li> Winforms + WPF with Telerik RadControls and ClickOnce deployment
<li> Linq2Sql/EF and Microsoft SQL Server management and migrations tooling to manage SQL  Server and its database-schema
<li> Constructing SPA apps built with Brunch.io, karma, jasmine, knockout.js, phantomjs, bower, bootstrap, less, javascript
<li> ASP.Net with WebForms and WCF
<li> Windows Services with MSMQ
<li> Python webapp on Google App Engine for service uptime monitoring (https://github.com/remotex/heartrate-monitor)
<li> Ruby app, Shopify Dashing, for internal dashboards hosted on Heroku
<li> RaspberryPi kiosk for internal dashboards (https://github.com/remotex/remotex-rpi)
<li> Crash reporting tools used; Telerik Analytics/Raygun
<li> Planning tools used; TFS/PivotalTracker/Lighthouse/Trello/GitHub
</ul>
                        </p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Site Reliability Engineer</h3>
                            <div class="time">2010 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">RemoteX Technologies, Stockholm</div>
                    </div><!--//meta-->
                    <div class="details">
<p>
My role as site reliability engineer bridges the gaps between the business and product teams and the managed hosting providers. Responsibilities include but are not limited to architecting production environments, performing capacity planning, designing solutions for automation and service management, operational service resilience management and evaluation of next generation technology.
</p>
<ul>
<li> Automating operation management tasks with Jenkins
<li> Setting up and maintaining  logging infrastructure using tools like NewRelic, Snare, NXLog, Logstash, Kibana, Graphite, Statsd and Elasticsearch
<li> Provisioning a platform for automated setup and patching of Windows-based servers through Jenkins and Powershell with WinRM
<li> Storing configuration assets and build artifacts in Azure Storage
<li> Configuring reverse proxies using IIS Application Request Routing as well as the industry standard nginx reverse proxy.
<li> Setting up management dashboards to improve my team’s monitoring capabilities and improve communication between teams
<li> Creating VPN links to bridge different sites
<li> Learning about security to set up safe firewalls and reliable networks
<li> Configuration management with Git
<li> Procuring and purchasing managed hosting
</ul>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full-stack developer</h3>
                            <div class="time">2005 - 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Nordic Streetwear</div>
                    </div><!--//meta-->
                    <div class="details">
<p>
Nordic Streetwear is a small group of dedicated friends located in New York and Sweden. Our aim is to inspire, educate and stimulate the need of a never ending North America demand for new and fresh designer brands. It's our purpose to bring this to North America and to serve not only as a store but also as a portal to scandanavian fashion and style.
</p>
<p>
Nordic streetwear is working with large brands and individual artists that are making quality clothes. We have promised ourselves to offer the best standards in Scandinavian designs, for both men and women. If you are Scandanavian and would like us to sell your brand please contact us. Hopefully we will find you first.
</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Consultant</h3>
                            <div class="time">2000 - 2006</div>
                        </div><!--//upper-row-->
                        <div class="company">Qbranch, Stockholm</div>
                    </div><!--//meta-->
                    <div class="details">
<p>
Worked as a systems developer consultant in areas such as internet services, finance information, banking, educational services and various in-house projects.

<li> Entitled as Microsoft Certified Solution Developer in 2004
<li> Systems building using PowerQuest tools
<li> FreeBSD, Linux, Apache, PHP, MySQL stacks
<li> Perl and shell scripting with bash, awk, sed
<li> Microsoft.Net web applications and services, system integrations, COM+ and MSMQ
<li> Windows Forms based touch screen kiosk applications
<li> Designing and implementation of SQL Server databases
<li> Desktop applications using Visual Basic 6
<li> Intranet applications using Active Server Pages, JScript
<li> HTML/CSS/Photoshop work
</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->