<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Areas of knowledge</h2>
    <div class="skillset">
        Microsoft.Net, C#, Javascript, HTML5, Powershell, Bash, ASP.Net, Web Services, SQL, CSS, Elasticsearch, Logstash,
        Photoshop, Git, ORM mappers, modularization/IoC/DI, jQuery/Ajax, HTTP, IIS, reverse proxies, Windows Server, Debian/Ubuntu Linux,
        Bootstrap, Knockout.js, KarmaJS, TDD, Selenium WebDriver, Jenkins CI, Heroku, Google AppEngine, Azure
    </div>
</section><!--//skills-section-->